<!DOCTYPE html>
<html>
  <head>
    <title>Master the Messenger</title>
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    
    
    
    <div class="jumbotron text-center">
      <h1 class="display-4">Messenger Troubleshooting Challenges</h1>
      <p class="lead">
        Test your troubleshooting skills & resourcefulness. Be an Intercom Master Troubleshooter! YEAHHHHHH!
      </p>
    </div>
    
    
    <%# if current_user %>
    <div class="form-group align-items-center">
      <div class="col-auto">
         <button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "Enter Level 1 Challenge", "/ex1", class: "text-white"%></button>
      </div>
    </div>
    <%# end %>
    
  </body>
</html>